.hourly-forecast-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 650px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.3);
    background-color: #d9d9d9;

    .forecast-title {
        margin-top: 20px;
        font-size: 2rem;
        font-weight: 700;
    }
}