.top-dashboard {
    display: flex;
    justify-content: center;
    height: 350px;
    margin-top: 50px;
}

.bottom-dashboard {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    margin-top: 40px;
}

